body{
	width: 100%;
	padding:0 15px;
	display: inline-block;
}
select{
	margin-top: 5%;
	width: 15%;
	margin-right: 10px;
}

#meatContainer{
	margin-left: 2.5%;
	display: inline-block;
	text-align: left;
	width: 15%;
	border: 1px solid brown;
}
#meatList{

	float: left;
}

#meatCost{

	float: right;
}
#breadContainer{
	margin-left: 2.5%;
	display: inline-block;
	text-align: left;
	width: 15%;
}
#breadList{
	float: left;
}

#breadCost{
	float: right;
}
#cheeseContainer{
	margin-left: 2.5%;
	display: inline-block;
	text-align: left;
	width: 15%;
}
#cheeseList{
	float: left;
}

#cheeseCost{
	float: right;
}
#veggieContainer{
	margin-left: 2.5%;
	display: inline-block;
	text-align: left;
	width: 15%;
}
#veggieList{
	float: left;
}

#veggieCost{
	float: right;
}
#condimentContainer{
	margin-left: 2.5%;
	display: inline-block;
	text-align: left;
	width: 15%;
}
#condimentList{
	float: left;
}

#condimentCost{
	float: right;
}

button#total{
	display: block;
	text-align: center;
	margin: 5% auto 0 auto;
	height: 100px;
	width: 200px;
}
div#btnContainer{
	text-align: center;

}
button.meatBtn{
	border: 1px solid brown;
	margin-left:auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 0;
}

